.stroke-outline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.stroke, .stroke-clone {
  font-weight: 900;
  color: #e7f1f1;
  font-size: 30px;
  line-height: 40px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.stroke-clone {
    position: absolute;
  -webkit-text-stroke: 4px var(--cl-primary);
  z-index: 0;
}
.stroke-outline span {
  font-size: 20px;
  line-height: 28px;
}
#home {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}
.map {
  width: 100%;
}
.map-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 400px;
  padding: 50px 0px;
}
.map-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.map-list li {
  position: relative;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.map-list li a {
background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.map-list li:nth-child(1) {
  display: flex;
  align-items: center;
}
.map-list li:nth-child(1) a {
  background-image: url("../images/hero-list-img1.png");
  width: 207px;
  height: 214px;
}
.map-list li:nth-child(1) a b {
    font-size: 26px;
  line-height: 35px;
}
.map-list li:nth-child(2) {
  display: flex;
  align-items: center;
}
.map-list li:nth-child(2) a {
  background-image: url("../images/hero-list-img2.png");
  width: 206px;
  height: 214px;
  transform: translateY(-30px);
}
.map-list li:nth-child(3) a {
  background-image: url("../images/hero-list-img3.png");
  width: 242px;
  height: 250px;
}
.map-list li:nth-child(4) a {
  background-image: url("../images/hero-list-img4.png");
  width: 314px;
  height: 325px;
}
.map-list li:nth-child(5) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-list li:nth-child(5) a {
  background-image: url("../images/hero-list-img5.png");
  width: 300px;
  height: 300px;
}
.map-list li:nth-child(6) {
  display: flex;
  justify-content: center;
}
.map-list li:nth-child(6) a {
  background-image: url("../images/hero-list-img6.png");
  width: 285px;
  height: 295px;
  transform: translateY(-50px);
}
.map-list li:nth-child(7) {
  display: flex;
  justify-content: center;
}
.map-list li:nth-child(7) a {
  background-image: url("../images/hero-list-img7.png");
  width: 270px;
  height: 279px;
  transform: translate(10px, -60px);
}
.map-list li:nth-child(8) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-list li:nth-child(8) a {
  background-image: url("../images/hero-list-img8.png");
  width: 207px;
  height: 214px;
}
.map-wrapper {
  padding-top: 50px;
}
.test {
  background: #eeecde52;
  border: 4px solid #ffffffb2;
  position: relative;
  border-radius: 16px;
  padding: 76px 10px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}
.test:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/hero-test-img.png") no-repeat;
  background-size: contain;
  transform: translateX(40px);
  width: 180px;
  height: 160px;
}
.title {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--cl-primary);
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 5px 32px;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cl-white);
  display: flex;
  align-items: center;
  z-index: 10;
}
.test-item {
  background-image: url("../images/hero-test-item-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 40px 32px;
  max-width: 445px;
  min-height: 248px;
  text-align: center;
}
.test-img {
  display: block;
  margin-bottom: 20px;
}
.test-item h3 {
  font-size: 30px;
  line-height: 38px;
  text-shadow: 0px 2.51px 2.51px #00000040;
  font-family: var(--font-secondary);
  color: var(--cl-white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 900;
}
.test-item h3 strong {
  color: #ffec03;
  font-weight: 900;
  font-style: italic;
}
.test-item button {
  border-radius: 24px;
  background: var(--cl-secondary);
  font-size: 18px;
  line-height: 24px;
  max-width: 327px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0px auto;
  cursor: pointer;
  color: var(--cl-black)
}

/* game */
.game-item {
  display: flex;
  gap: 45px;
  padding: 40px;
  border-radius: 24px;
  background: #ffbb6f;
  font-family: var(--font-secondary);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 26px;
  font-weight: 600;
}
.game-item-content {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-item-content h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}
.game-item-content p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
}
.game-item-content button {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 860;
  line-height: 28px;
  color: var(--cl-white);
  padding: 10px 20px;
  min-height: 64px;
  width: 100%;
  border-radius: 32px;
  background-color: var(--cl-primary);
  cursor: pointer;
}
.game-img {
  overflow: hidden;
  min-height: 530px;
  flex-basis: 55%;
}
.game-img img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* box */
.box {
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 100px 0px 50px;
}
.box-inner {
  background: #eeecde52;
  padding: 40px;
  position: relative;
}
.box-img {
  border-radius: 24px;
  width: 100%;
}
.bee-inner {
  max-width: 1200px;
  margin: 0px auto;
  padding: 80px 70px;
}
.bee-inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/bee-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
  height: 180px;
}
.bee-wrapper {
  display: flex;
}
.bee-content {
  max-width: 720px;
  width: 100%;
}
.bee-content .test-item {
  max-width: 100%;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bee-content .test-item h3 {
    margin-bottom: 35px;
}
.bee-content .test-item h3 b {
  font-size: 42px;
  line-height: 56px;
  text-transform: none;
}
.bee-img img {
  transform: scale(1.2);
}
#lucky .lucky-gif {
  position: absolute;
  right: 90px;
  bottom: 40px;
  display: flex;
    flex-direction: column;
    align-items: center;
        transform: translateY(95px);
}
.gif-arrow {
  transform: translateY(40px);
    z-index: 20;
}
#lucky .container {
  position: relative;
}
.gif-list .gif-list-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  cursor: pointer;
  z-index: 10;
}
.gif-list .gif-list-bg.active img {
  animation: vongquay 4s ease;
  transform: rotate(375deg);
}
@keyframes vongquay {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(375deg);
  }
}
.gif-list {
  z-index: 10;
}
.gif-bottom {
  transform: translateY(-95px);
}

@media  screen and (max-width: 1366px) {
  #lucky .lucky-gif {
    right: 60px;
    bottom: 0;
    transform: translateY(95px) scale(0.9);
  }
}

@media screen and (max-width: 1260px) {
  .map-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .map-list li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .map-list li a {
    transform: translate(0, 0) !important;
  }
  #lucky .lucky-gif {
    right: 0px;
    bottom: 0;
    transform: translateY(95px) scale(0.7);
  }
}
@media screen and (max-width: 840px) {
  .map-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .test:after {
    transform: translate(-20px, 0);
    width: 120px;
  }
  .bee-wrapper {
    flex-direction: column;
  }
      #lucky .lucky-gif {
        right: -50px;
        bottom: -90px;
        transform: translateY(95px) scale(0.5);
    }
}

@media screen and (max-width: 768px) {
  .map-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
  }
  .map-list li a{
    width: 100px !important;
    height: 100px !important;
}
.map-list li:nth-child(5) a b {
    font-size: 10px !important;
    line-height: 16px !important;
    padding: 6px;
}
    .map-list li a b {
      font-size: 13px !important;
      line-height: 18px !important;
  }
  .map-list li a b span {
    font-size: 9px !important;
    line-height: 14px !important;
  }
  .map-list li:nth-child(2) a {
    transform: translateY(10px) !important;
  }
  .map-list li:nth-child(5) a {
    transform: scale(1.5) translateY(40px) !important;
    font-size: 10px !important;
  }
  .map-list li:nth-child(7) a {
    transform: translate(10px, 20px) !important;
  }
  .map-list li:nth-child(8) a {
    transform: translate(-10px, 20px) !important;
  }
  .map-inner {
    margin-bottom: 100px;
    padding: 20px 0px;
  }
  .test {
    flex-direction: column;
    padding: 46px 16px;
    max-width: calc(100% - 24px);
    gap: 24px;
    border-radius: 24px;
  }
  .title {
    font-size: 15px;
    line-height: 23px;
    padding: 6px 32px;
    width: max-content;
    min-height: fit-content;
    border-radius: 16px;
    top: -17px;
  }
  .test:after {
    display: none;
  }
  .test-item {
    padding: 13px 35px 20px;
    min-height: 100%;
    width: 100%;
  }
  .test-item h3 b, .bee-content .test-item h3 b{
    font-size: 18px;
    line-height: 26px;
  }
  .test-item button {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    width: fit-content;
    min-height: 100%;
    border-radius: 16px;
  }
  .box {
    padding: 60px 0px 0px;
  }
  #game .box-inner {
    padding: 0;
    background-color: transparent;
  }
  #lucky .box-inner {
    padding: 35px 15px;
  }
  .bee-inner:before {
    display: none;
  }
  .bee-inner {
    padding: 50px 15px;
  }
  .bee-content .test-item h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  .bee-content .test-item {
    min-height: 100%;
  }
  .bee-img img {
    transform: scale(1);
    max-width: 250px;
  }
  .bee-img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  #bee {
    padding-bottom: 40px;
  }
  .game-item {
    flex-direction: column;
    padding: 42px 16px 24px;
    gap: 30px;
  }
  .game-item > div {
    flex-basis: 100%;
  }
  .game-item-content {
    text-align: center;
  }
  .game-item-content h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  .game-item-content p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .game-item-content button {
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  .game-img {
    min-height: 225px;
  }
  .game-img img {
    border-radius: 6px;
  }
  .test-item h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .test-img {
    margin-bottom: 10px;
  }
  .test-img img{
    width: 32px;
  }
  #lucky .container {
    padding: 0;
  }
    #lucky .lucky-gif {
      right: 0;
      bottom: -60px;
      transform: translateY(95px) scale(0.6);
  }
  .stroke-clone {
    -webkit-text-stroke: 2.5px var(--cl-primary);
  }
}
