.careers-banner img {
    width: 100%;
}
.banner-content {
    padding: 107px 0px 67px;
    font-family: var(--font-primary);
    margin-top: -4px;
}
.banner-content > div {
    text-align: center;
}
.banner-content {
    background-image: url('../images/careers-banner-bottom.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content h2 {
    font-size: 42px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 16px;
    color: var(--cl-white);
    text-transform: uppercase;
}
.banner-content p {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.2;
    margin-bottom: 32px;
    color: var(--cl-white);
}
.careers-btn {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--cl-black);
    padding: 16px 30px;
    border-radius: 40px;
    margin: 0px auto;
    cursor: pointer;
}
.banner-content .careers-btn {
    background-color: var(--cl-secondary);
}