.hero {
    min-width: 1442px;
    width: 100%;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.hero-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.hero-list li {
    position: relative;
    font-weight: 900;
    color: #E7F1F1;
    webkit-text-stroke: 2px var(--cl-primary);
}