.hero {
    min-height: 1442px;
    width: 100%;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.hero-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.hero-list li {
    position: relative;
}
.hero-list li span {
    font-weight: 900;
    color: #E7F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 2px var(--cl-primary);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.hero-list li:nth-child(1) span {
    background-image: url('../images/hero-list-img1.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(2) span {
    background-image: url('../images/hero-list-img2.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(3) span {
    background-image: url('../images/hero-list-img3.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(4) span {
    background-image: url('../images/hero-list-img4.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(5) span {
    background-image: url('../images/Clip path group.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(6) span {
    background-image: url('../images/hero-list-img6.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(7) span {
    background-image: url('../images/hero-list-img7.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}
.hero-list li:nth-child(8) span {
    background-image: url('../images/hero-list-img8.png');
    width: 207px;
    height: 214px;
    font-size: 26px;
    line-height: 35px;
}