.hero {
    min-height: 1442px;
    width: 100%;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.hero-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.hero-list li {
    position: relative;
}
.hero-list li span {
    font-weight: 900;
    color: #E7F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 1px var(--cl-primary);
}
.hero-list li:nth-child(1) span {
    background-image: url('../images/hero-list-img1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 207px;
    height: 214px;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
}