.profile-inner {
    padding: 24px 0px 70px;
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    gap: 40px;
    font-family: var(--font-secondary);
}
.profile-navbar {
    flex-basis: 35%;
}
.profile-content {
    flex-basis: 65%;
}
.profile-breadcrumb {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--cl-black);
    margin-bottom: 32px;
    padding: 0px 20px;
}
.profile-breadcrumb span {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}
.navbar li{
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar li span {
    padding: 0px 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}
.navbar li > div {
    display: none;
}
.navbar li.active *, .navbar li:hover *{
    color: var(--cl-primary);
}
.infor  * {
    color: var(--cl-black)
}
.infor > h2{
    font-size: 40px;
    line-height: 51px;
    font-weight: 700;
    margin-bottom: 8px;
}
.infor > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.infor-content {
    border-radius: 8px;
    border: 1px solid #C5C5C5;
    padding: 0px 16px;
}
.infor-item {
    padding: 16px 0px;
    border-bottom: 1px solid #DDDDDD;
    display: grid;
    grid-template-columns: 50% 50%;
}
.infor-item:last-child {
    border: none;
}
.infor-item span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.infor-item span:last-child {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .profile-inner {
        flex-direction: column;
    }
    .navbar li > div {
        display: block;
    }
}