.profile-inner {
    padding: 24px 0px;
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    gap: 40px;
    font-family: var(--font-secondary);
}
.profile-navbar {
    flex-basis: 40%;
}
.profile-content {
    flex-basis: 60%;
}
.profile-breadcrumb {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--cl-black);
    margin-bottom: 32px;
    padding: 0px 20px;
}
.profile-breadcrumb span {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}
.navbar li{
    width: 100%;
    padding: 0px 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar li.active *, .navbar li:hover *{
    color: var(--cl-primary);
}
.profile-content .infor  * {
    color: var(--cl-black)
}
.profile-content .infor > h2{
    font-size: 40px;
    line-height: 51px;
    font-weight: 700;
    margin-bottom: 8px;
}
.profile-content .infor > p {

}